@font-face {
	font-family: 'Canela Text Web';
	src: url('CanelaText-Light-Web.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	}

.CanelaText-Light-Web {
	font-family: 'Canela Text Web';
	font-weight: 300;
	font-style: normal;
	}
